@import "../abstract/variables";

.banner {
  background: url(../../../alura-spa-projeto_inicial/imagens/banner.jpeg) 27%
    center no-repeat;
  min-height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  .inner-banner {
    padding: 3rem;
    background-color: $tertiary-color;
    opacity: 0.9;
    border-radius: 45px;

    h1 {
      font-size: $text-size;
      color: $primary-color;
    }

    h2 {
      font-size: $text-size / 2;
      color: $secondary-color;
    }
  }
}
