@import "../abstract/variables";

nav {
  text-align: center;
  ul {
    li {
      display: inline-block;
      padding: 1rem;

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: $primary-color;

        &:hover {
          border-bottom: 2px solid $secondary-color;
        }
      }
    }
  }
}
