@import "../abstract/variables";

#service {
  margin: 80px;

  h3 {
    font-size: $text-size / 2.5;
    color: $secondary-color;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
  }

  h4 {
    text-align: center;
    font-size: $text-size / 1.2;
    margin-bottom: 80px;
    font-weight: 300;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;

    .card {
      width: 360px;
      text-align: center;

      .img-container {
        padding-bottom: 2px;
        border-bottom: 6px solid $secondary-color;

        img {
          max-width: 100%;
        }
      }

      h5 {
        font-size: $text-size / 1.5;
        font-weight: 300;
        margin-top: 25px;
        margin-bottom: 20px;
        color: $primary-color;
      }

      p {
        font-size: $text-size / 3;
        font-weight: 300;
        color: $primary-color;
        line-height: 1.25rem;
      }
    }
  }
}
